.callout[data-callout="north-star"] {
  --callout-color: 158, 158, 158;
  --callout-icon: sparkle;
}

.callout .callout-content {
  padding-bottom: 0;
}

.callout .callout-content > :last-child {
  margin-bottom: 0;
}
